body {
	margin: 0;
	padding: 0;
	background: #fafafa;
	font-family: "Paytone One", "Kosugi Maru", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6,p {
	margin: 0;
	padding: 0;
	color:#565353;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}
input{
	outline: 0;
}

/*******************大枠***********************/
.all-wrapper{
	width:800px;
	height:730px;
	margin:0 auto;
	margin-top:20px; 
	background: #D9EAF3;
	border-radius: 5px;
	box-shadow: 0 0 10px lightgrey;
}
h1{
	width:400px;
	height:50px;
	margin:0 auto;
	padding-top:50px;
	font-family: 'arial';
	text-align: center;
	font-size:42px;
	color:#fbf4f4;
	-webkit-text-stroke: 1px #564D4D;
}

/*******************スタート画面***********************/
.start-explain{
	width:600px;
	height:110px;
	margin:0 auto;
	margin-top:50px;
	text-align: center;
	font-size:28px;
}
.start-btn, .start-btn img{
	width:350px;
	height:350px;
	margin:0 auto;
}
.start-btn{
	position: relative;
}
.start-game input{
	width:250px;
	height:85px;
	font-size:26px;
	border-style: none;
	background: #fffef5;
	position: absolute;
	top:180px;
	left:50px;
}
.start-game input:hover{
	cursor: pointer;
	color:#979797;
}
.returnTop{
	width:300px;
	float:right;

}
.returnTop a{
	color:#565353;
	font-size: 20px;
}
.returnTop a:hover{
	color:#979797;
	border-bottom: 1px solid #979797;
}

/*******************選択画面***********************/
.select-sentence{
	width:240px;
	height:30px;
	font-size: 30px;
	margin:0 auto;
	margin-top:50px;
	text-align: center;
}
.gender-wrapper{
	width:250px;
	height:250px;
	margin-top:100px;
	margin-left:100px;
	float:left;
	background: #fcf7f7;
	border: 1px solid #979797;
	border-radius: 10px;
	box-shadow: 0 0 10px lightgrey;
}
.gender-wrapper img{
	width:180px;
	height:180px;
	margin-left:35px;
}
.gender-wrapper p{
	width:150px;
	margin:0 auto;
	font-size: 30px;
	
}
/*******************ストーリー箇所***********************/
.story-wrapper{
	width:660px;
	height:180px;
	margin:0 auto;
	margin-top:50px;
	padding-top:20px;
	padding-left:20px;
	background: #fcf7f7;
	border:1px solid #979797;
	border-radius: 10px;
	font-size: 26px;
	line-height:50px;
}
.story-next {
	height:50px;
	margin-top:20px;
	margin-right:50px;
	font-size: 28px;
	float:right;
}
.story-next a{
	color:#565353;
}
.story-next a:hover{
	color:#979797;
	border-bottom:1px solid #979797;
}
.bother-face{
	position: relative;
}
.bother-face img{
	width:250px;
	height:250px;
	position: absolute;
	top:100px;
	right:100px;
}
.bother-teeth{
	height:200px;
	margin-top:50px;
	position: relative;
}
.teeth-left{
	width:180px;
	height:180px;
	position: absolute;
	top:30px;
	left:200px;
}
.teeth-right{
	width:200px;
	height:200px;
	position: absolute;
	right:180px;
}
.teeth-sentence{
	width:95%;
	height:100px;
	margin:0 auto;
	margin-top:50px;
	font-size:26px;
	padding-top:20px;
	background: #fcf7f7;
	border:1px solid #979797;
	border-radius: 10px;
	text-align: center;
}
.select-btns{
	height:50px;
	position: relative;
}
.backFirst-btn{
	width:300px;
	height:50px;
	background: #979797;
	border-radius: 5px;
	font-size:30px;
	color:#f4f4f4;
	text-align: center;
	position: absolute;
	top:50px;
	left:60px;
	box-shadow: 0 0 10px lightgrey;
}

.matchStart-btn{
	width:300px;
	height:50px;
	background: #C61922;
	border-radius: 5px;
	font-size:30px;
	color:#f4f4f4;
	text-align: center;
	position: absolute;
	top:50px;
	right:60px;
	box-shadow: 0 0 10px lightgrey;
}
/*******************戦うページ（index）***********************/
.bacteria-wrapper{
	height:220px;
	margin-top:30px;
	background: #979797;
}
.bacteria-leftwrap{
	width:200px;
	height:100%;
	float:left;
	margin-left:125px;
}
.bacteria-rightwrap{
	width:350px;
	height:100%;
	float:right;
	margin-right:90px;
}
.bacteria-name{
	width:150px;
	margin:0 auto;
	margin-top:10px;
	font-size: 20px;
	color:#f4f4f4;
	text-align: center;
	font-weight: bold;
}
.bacteria-imgwrap{
	width:150px;
	height:150px;
	background: #fbfbfb;
	margin:0 auto;
	margin-top:10px;
	border-radius: 5px;
}
.bacteria-imgwrap img{
	width:140px;
	height:140px;
}
.bacteria-msgwrap{
	height:90px;
	margin:0 auto;
	margin-top:30px;
	border-radius: 50%;
	border: 2px solid #f4f4f4;
	position: relative;
}
.bacteria-msg{
	color:#f4f4f4;
	font-size: 16px;
	font-weight: bold;
	position: absolute;
	top:30px;
	left:40px;
}
.bacteria-hp{
	height:50px;
	margin-top:20px;
	font-size:35px;
	color:#C61922;
	text-align: center;
	font-weight: 300;
}
.player-wrapper{
	width:100%;
	height:350px;
	background: #fbfbfb;
}
.player-leftwrap{
	width:340px;
	height:100%;
	margin-left:30px;
	float:left;
	position: relative;
}
.fightLog{
	width:100%;
	height:200px;
	border: 1px solid #979797;
	position: absolute;
	top:40px;
	border-radius: 5px;
	font-size:13px;
	color:#565353;
	overflow: scroll;
}
.player-rightwrap{
	width:380px;
	height:100%;
	float:right;
	margin-right:30px;
}
.bacteria-count{
	height:50px;
	margin-top:10px;
	font-size:35px;
	color:#565353;
	text-align: center;
	position: absolute;
	bottom:30px;
}
.player-hp{
	height:50px;
	margin-top:10px;
	font-size:35px;
	color:#565353;
	text-align: center;
	position: absolute;
	bottom:30px;
	left:160px;
}
.select-item{
	margin-top:30px;
	font-size: 18px;
	text-align: center;
}
.items-wrap{
	width:100%;
	height:130px;
	margin-top:20px;
}
.item-wrap{
	width:28%;
	height:100%;
	border: 1px solid #979797;
	border-radius: 5px;
	float:left;
	margin:0 8px;
	box-shadow: 0 0 10px lightgrey;
}
.itemLef{
	background: #C9F2FA;
	background-image:url(img/brush.png);
	background-size:contain;
}
.itemMid{
	background: #CACEE9;
	background-image:url(img/flos.png);
	background-size:contain;
}
.itemRih{
	background: #D8F9EC;
	background-image:url(img/mouthwash.png);
	background-size:contain;
}

.reStart{
	width:80%;
	height:30px;
	margin:0 auto;
	font-size:18px;
	text-align: center;
	margin-top:35px;
	margin-left: 38px;
	border:1px solid #979797;
	border-radius: 5px;
	color: #565353;
	box-shadow: 0 0 10px lightgrey;
}
.returnFirst{
	width:80%;
	height:30px;
	margin:0 auto;
	font-size:18px;
	text-align: center;
	margin-top:20px;
	border:1px solid #979797;
	border-radius: 5px;
	box-shadow: 0 0 10px lightgrey;
}
.reStart:hover ,.returnFirst:hover{
	background: #979797;
	color:#fbfbfb;
}
/*******************ゲームオーバー***********************/
.play-again{
	width:300px;
	height:50px;
	margin:0 auto;
	margin-top:20px;
}

.playAgain-btn{
  padding:10px 10px;
	background: #C61922;
	border-radius: 5px;
	font-size:30px;
	color:#f4f4f4;
	text-align: center;
	box-shadow: 0 0 10px lightgrey;
}

.playAgain-btn:hover{
	background: #C8686D;
}



